{% extends 'base.html' %}

{% block title %}tasks List{% endblock %}

{% block content %}
<h1>tasks List</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for tasks in task %}
        <tr>
            <td>{{ tasks.title }}</td>
            <td>{{ tasks.description }}</td>
            <td>
                {% if tasks.completed %}
                    ✅ Completed
                {% else %}
                    ⏳ Pending
                {% endif %}
            </td>
            <td>{{ tasks.created_at|date:"Y-m-d H:i" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No tasks available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create_task' %}" class="btn btn-primary">Add New task</a>
{% endblock %}
